{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('assets/return.js') }}" defer></script>
{% endblock %}

{% block title %}
    Paiement de la commande
{% endblock %}

{% block body %}
    <h1>Paiement de la commande</h1>


{% endblock %}